body{
    background-color: #501124;
    
    }
    
    div.container {
        max-width: 1000px;
        min-width: 500px;
        align-content: center;
        box-shadow: 1px 1px 8px #5471D1;
        margin: 0 auto;
        background-color: white;
    }
    
    h1, h2, h3{
        font-family: "Oswald";
    }
    
    p{
        font-family: "Arial";
    }
    