body{
    background-color: #501124;
    color: white;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
    overflow-x: hidden;
}
    div.container {
        border: black 2px;
        width: 300px;
        height: 200px;
        color: black;
        text-align: center;
        align-content: center;
        box-shadow: 1px 1px 8px #5471D1;
        margin: 100px auto;
        background-color: white;
    }

    div.front-page {
        border: black 2px;
    }

    div.reset-password-container {
        width: 315px;
        text-align: left;
        align-content: center;
        margin: 0 auto;
    }
    
    div.newsbackground {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 25px; 
    }
    h1{
        font-family: "Calibri";
        text-align: center;
        color:#501124;
    }
    h2, h3, h4, h6{
        font-family: "Calibri";
        text-align: center;
        color:#501124;
        
    }

    h1.white {
        color: white;
    }
    
    p, blockquote{
        font-family: "Arial";
        color: black;
    }

    .MMLogo{
        size: 10%;
    }
    
     .jumbotron-fluid{
        color: black;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 6px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: auto;
        overflow-x: hidden;
        
    } 

    .container-sm{
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .fill-height-schedule{
        display:flex;
        flex-direction: column;

    }

    .fill-height-schedule > div{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    /*.white-text {
        color: white;
    }*/

    .red-text {
        color: #501124;
    }

    div.red-text {
        color: #501124;
    }

    .center{
        align-items:center;
    }

    div.stats {
        border: black 2px;
    }

    div.right {
        text-align: right;
        font-family: "calibri";
        font-size: 14px;
        color: #501124;
        max-width: none;
    }

    iframe{
        margin-left: 5%;
        margin-right: 5%;
    }

    .col-sm-4{
        align-items: center;
    }
    
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .rounded {
    border-radius:.25rem!important
    }

    h5 {
        color: #501124;
        text-align: left;
        
    }

    #p1 {
        font-family: "Calibri";
        color: #501124;
        text-align: left;
    }


