body{
    background-color: #501124;
    color: white;
}
    div.container {
        border: black 2px;
        width: 300px;
        height: 200px;
        color: black;
        text-align: center;
        align-content: center;
        box-shadow: 1px 1px 8px #5471D1;
        margin: 100px auto;
        background-color: white;
    }

    div.front-page {
        border: black 2px;
    }

    div.reset-password-container {
        width: 315px;
        text-align: left;
        align-content: center;
        margin: 0 auto;
    }
    
    h1, h2, h3, h4, h5, h6{
        font-family: "Calibri";
        text-align: center;
        color:#501124;
    }


    
    p, blockquote{
        font-family: "Arial";
        color: black;
    }

    .MMLogo{
        size: 10%;
    }
    
    /*.jumbotron{
        color: black;
        }*/
    
    .jumbotron-fluid{
        color: black;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 6px;
        
    }

    .container-sm{
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fill-height-schedule{
        display:flex;
        flex-direction: column;

    }

    .fill-height-schedule > div{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .white-text {
        color: white;
    }

    .center{
        align-items:center;
    }

    div.stats {
        border: black 2px;
    }