body{
    background-color: #501124;
    color: white;
}
    div.container {
        /* max-width: 1000px; */
        /* min-width: 500px; */
        width: 170px;
        text-align: center;
        align-content: center;
        /* box-shadow: 1px 1px 8px #5471D1; */
        margin: 0 auto;
        /* background-color: white; */
    }

    div.front-page {
        border: black 2px;
    }

    div.reset-password-container {
        width: 315px;
        text-align: left;
        align-content: center;
        margin: 0 auto;
    }
    
    h1{
        font-family: "Calibri";
        text-align: center;
    }

    h2{
        font-family: "Calibri";
        text-align: center;
    }

    h3{
        font-family: "Calibri";
        text-align: center;
    }


    
    p{
        font-family: "Arial";
    }

    a{
        color: white;
    }

    .MMLogo{
        size: 10%;
    }
    
    .jumbotron{
        color: black;
        }
    
    .jumbotron-fluid{
        color: black;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 6px;
        
    }

    .container-sm{
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fill-height-schedule{
        display:flex;
        flex-direction: column;

    }

    .fill-height-schedule > div{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }